body {
    background: #ececec;
    box-sizing      : border-box;
    margin: 0%;
}


/* header menu */

.btn{
    color: #000000;
    background: #c0c0c0;
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:10px;
    text-transform:uppercase;
}

.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
}


/*  end header menu */

@font-face {
    font-family: myBestFont;
    src: url(VarelaRound-Regular.ttf);
}


.typingEffect {
    /*animation*/
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: medium solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 4s steps(37, end),
    blink-caret 0.75s step-end 3.5;
}
/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 60%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: var(--gold);
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.head { grid-area: 1 / 1 / 2 / 6; }
.left { grid-area: 2 / 1 / 5 / 2; }
.right { grid-area: 2 / 5 / 5 / 6; }
.center { grid-area: 2 / 2 / 5 / 5; }
.foot { grid-area: 5 / 1 / 6 / 6; }

#top {
    position: sticky;
    background: #e0ffcd;
    font-family: myBestFont;
    top: 0.01vh;
    flex-flow: column wrap;
    text-align-last: center;

}

.center{
    background: #fdffcd;
    margin-bottom   : 10px;
    text-align-last: center;
    font-family: myBestFont;
}

.left{
    background: #fdffcd;
}

.foot{text-align-last: center;}


#clickB {
    width: 20%;
    font-size: 30px;
    color: #48422a;
    background-color: white;
    border: none;
    cursor: pointer;
    font-family: myBestFont;
}


