{% extends 'base.html' %}

{% block title %}
    Assignment 9
{% endblock %}

{% block tohen %}

    {% if  session.username  %}
        <h1>Welcome back..!  {{ session.username }}</h1>
        <h2 class="{%if name%}logged_in{% else %}stranger {% endif %}"></h2>
    {% endif %}

    Search First Name:
    <form method="GET" action="/assignment9">
        <input name="firstname" type="text">
        <input type=submit value="search">
    </form>
    {% if firstname %}
        <h2>Search Result: </h2>
        {% for user in Users %}
            {% if user['firstname'] == firstname %}
                <h3> Full name: {{ user['firstname'] }} {{ user['lastname'] }} , email: {{ user['email'] }}<br>
                </h3>
            {% endif %}
        {% endfor %}
        <br>
    {% else %}
        <h2>List of users to search:</h2>
        {% for user in Users %}
            <ul> Name: {{ user['firstname'] }} {{ user['lastname'] }} , Email: {{ user['email'] }}<br>
            </ul>
        {% endfor %}
    {% endif %}
    {%  if session.username  %}
        <h3>Do you want to log out already?</h3>
        Please pay attention: the logout button is available in header menu
    {% else %}
        Enter Username:
        <form method="POST" action="/assignment9">
            <input name="username">
            <input type=submit>
        </form>
    {% endif %}

{% endblock %}