<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/myCV.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/JS/myCV.js"></script>
</head>

<body>
<div id="Container" class="grid-container">

    {%  include 'header.html' %}

    <div class="center">
    </div>

    <div class="left">
    </div>

    <div class="foot">
    </div>

    {%  include 'footer.html' %}

</div>


</body>
</html>l>