{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}


{% block tohen %}

    <h1>Welcome to catalog page</h1>
    <for></for>
    <form action="/Catalog" method="get">
        product:  <input name="product" type="text" id="clickB">
        size: <input name="size" type="text" id="clickB">
        <input type="submit" id="clickB">
    </form>

    {%  if p_name %}
        <h3> you picked product: {{ p_name }}</h3>  <br>
    {% endif %}
    {%  if p_size %}
        <h3> you picked size: {{ p_size }}</h3>
    {% endif %}

{% endblock %}