<div class="head">
    <a href="/" class="btn">Home</a>
    <a href="/about" class="btn">About</a>
    <a href="/Catalog" class="btn">Catalog</a>
    <a href="/users" class="btn">Users</a>
    <a href="/request_frontend" class="btn">Front End</a>
    <a href="/request_backend" class="btn">Back End</a>
    <a href="/assignment8" class="btn">Assignment8</a>
    <a href="/assignment9" class="btn">Assignment9</a>


    {% if session.username %}
        <a href="/Logout" class="btn">Log out</a>
    {% else %}
        <a href="/Login" class="btn">Log In\Registered</a>
    {% endif %}
</div>