<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/myCV.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY CV</title>
    <script src="/static/JS/myCV.js"></script>
</head>

<body>

<div id="Container" class="grid-container">

    {%  include 'header.html' %}

    <div class="center">
    <p class="typingEffect">
        Hello!<br>Welcome to my first site
    </p>

    {% if name1 %}
        <h3><a herf="/about">Info about me</a></h3>
    {% else %}
        <h3>Please log in to my website...</h3>
    {% endif %}


    <label for="">Name: </label>
    <input type="text"> <br><br>

    <label for="">Email: </label>
    <input id="EmailIn" type="email" pattern=".+@.+\.com" required> <br>
    <label  class="VInput" id="emailVM"></label><br>

    <label for="">Phone: </label>
    <input id="Telephon" type="Telephon" pattern="[0-9]{10}" required> <br>
    <label class="VInput" id="phoneV"></label><br>

    <label for="">More info</label><br><br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
</div>


<div class="left">
    <img src='/static/sideProfile.jpg' id="sideProfilePic"">
</div>

{%  include 'Footer.html' %}

</div>


</body>
</html>