{% extends 'base.html' %}

{% block title %}
    asf
{% endblock %}

{% block tohen %}
    <form action="action_page.php">
        <div class="info">
            <h1 class="signin">התחברות</h1>

            <label for="email" class="labels"><b>כתובת מייל</b></label><br>
            <input type="email" placeholder="הכנס כתובת דואר אלקטרוני" id="email" name="email" ><br><br>

            <label for="password" class="labels"><b>הזנ/י סיסמה</b></label><br>
            <input type="password" placeholder="הקלד סיסמה" name="password" minlength="6" ><br><br><br>

            <button ID="clickB" type="submit">התחבר</button>
            <br><br>

            <button type="button" button ID="clickB" onclick="window.location.href='{{ url_for( 'signUp_func') }}';">?משתמש חדש</button>

            <br><br>
        </div>
    </form>

{% endblock %}