

{% extends 'base.html' %}

{% block title %}
    Test123
{% endblock %}
<form action="action_page.php">
    <div class="info">
        <h1 class="title1">התחברות</h1>

        <label for="email" class="labels"><b>כתובת מייל</b></label><br>
        <input type="email" placeholder="הכנס כתובת דואר אלקטרוני" id="email" name="email" required><br><br>

        <label for="password" class="labels"><b>הזנ/י סיסמה</b></label><br>
        <input type="password" placeholder="הקלד סיסמה" name="password" minlength="8" required><br><br><br>

        <button class="button1" type="submit">התחבר</button>
        <br><br>
        <a href=signup.html> <br>
            <button class="button1" type="button">משתמש חדש</button>
        </a>
        <br><br>
    </div>
</form>
{% block tohen %}


{% endblock %}

