{% extends 'base.html' %}

{% block title %}
home
{% endblock %}

{% block body %}
{% set pageName='req_backend'%}
<h1>welcome to {{ pageName }} page</h1>

  <h2>pockemonts</h2>
  <form action="/req_backend">
    <input type="number" name="number">
    <input type="submit" value="get Pockemons">
  </form>
  {% if pockemons %}
    {% for pokemon in pockemons%}
      <h3> Pockemon {{pokemon.id}}:</h3>
      <img src="{{ pokemon.sprites.front_default }}" alt="pic">
      <h4>Name: {{pokemon.name}}</h4>
      <h4>height: {{pokemon.height}}</h4>
      <h4>weight: {{pokemon.weight}}</h4>
    {% endfor%}
  {% endif%}

{% endblock %}