{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block tohen %}
    <h1>Users page</h1>
    <h2>Insert Form:</h2>
    <form action="/insert_user" method="post" id="users_form">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="insert">
    </form>

    <hr>
    <h2>User list:</h2>
    <ul id="list_form">
        {% for user in users %}
            <li>
                <form action="/delete_user" method="post"  style="display: inline">
                    <input type="hidden" name="id" value="{{ user.id }}">
                    <input type="submit" value="X">
                </form>User name: {{ user.name }} ,Email: {{ user.email }}</li>
        {% endfor %}
    </ul>

{% endblock %}