{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block tohen %}
    <h1>Users page</h1>
    <h2>Insert Form:</h2>
    <form action="/insert_user" method="post">
        <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="insert">
    </form>

    <hr>
    <h2>User list:</h2>
    <ul>
    {% for user in users %}
        <li>{{ user.name }} ,Email: {{ user.email }}</li>
    {% endfor %}
    </ul>

{% endblock %}